# Demonstration der Aufteilung

In [9]:
import pandas as pd

df = pd.read_csv("./hotels.csv")[:6]

df

     Gewinn  Preis in Mio  Quadratmeter    Stadt
0  119000.0         21.88        3938.0   Berlin
1  250000.0         27.95        3986.0  München
2  250000.0         16.09        2574.0     Köln
3  145000.0         27.58        4155.0  München
4  110000.0         23.76        3795.0   Berlin
5  246000.0         22.88        2773.0  München

In [10]:
X = df[["Gewinn", "Quadratmeter"]].values
Y = df[["Preis in Mio"]].values

In [11]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

kf = KFold()

for train_index, test_index in kf.split(X):
    print("train: " + str(train_index))
    print("test: " + str(test_index))
    print("-----------")
    X_test = X[test_index]
    X_train = X[train_index]
    
    y_test = Y[test_index]
    y_train = Y[train_index]
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    print(model.score(X_test, y_test))

train: [2 3 4 5]
test: [0 1]
-----------
-0.23437406150775944
train: [0 1 4 5]
test: [2 3]
-----------
0.28817502863345124
train: [0 1 2 3]
test: [4 5]
-----------
-87.19441129592327

C:\Users\schic\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:431: FutureWarning: The default value of n_split will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

# Demonstration Shuffle und n_splits

In [13]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.sort_values("Stadt")

       Gewinn  Preis in Mio  Quadratmeter    Stadt
0    119000.0         21.88        3938.0   Berlin
81    25000.0          9.07        1002.0   Berlin
80   124000.0         26.31        5201.0   Berlin
77    64000.0         14.90        2220.0   Berlin
148   35000.0         15.80        2281.0   Berlin
..        ...           ...           ...      ...
115   76000.0         18.78        2186.0  München
82    58000.0         19.93        3306.0  München
117   33000.0         16.04        1505.0  München
13    62000.0         17.08        1941.0  München
93    62000.0         16.15        1799.0  München

[150 rows x 4 columns]

In [14]:
X = df[["Gewinn", "Quadratmeter"]].values
Y = df[["Preis in Mio"]].values

In [15]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

kf = KFold(n_splits = 4, shuffle = True)

for train_index, test_index in kf.split(X):
    print("train: " + str(train_index))
    print("test: " + str(test_index))
    print("-----------")
    X_test = X[test_index]
    X_train = X[train_index]
    
    y_test = Y[test_index]
    y_train = Y[train_index]
    
    # Lineare Regression trainieren
    model = LinearRegression()
    model.fit(X_train, y_train)

    print(model.score(X_test, y_test))

train: [  0   1   2   3   6   7   8   9  11  13  16  17  18  19  20  21  22  23
  24  26  27  28  29  30  31  32  33  35  37  38  39  40  42  43  44  45
  47  48  49  50  51  53  54  55  58  59  60  61  62  63  64  65  67  69
  70  71  72  73  75  76  77  78  80  81  82  83  84  85  86  87  88  89
  91  92  94  95  96  99 101 103 107 108 109 110 112 114 116 117 120 121
 122 123 124 126 127 128 129 130 131 132 133 134 137 139 140 141 143 144
 145 146 148 149]
test: [  4   5  10  12  14  15  25  34  36  41  46  52  56  57  66  68  74  79
  90  93  97  98 100 102 104 105 106 111 113 115 118 119 125 135 136 138
 142 147]
-----------
0.8217555873813684
train: [  0   1   2   3   4   5   6   7   8   9  10  12  14  15  16  17  19  20
  21  25  26  27  28  32  33  34  35  36  38  39  40  41  44  45  46  48
  49  50  51  52  53  54  56  57  59  61  62  65  66  67  68  69  70  71
  72  73  74  78  79  80  81  82  85  86  87  88  89  90  91  92  93  94
  96  97  98 100 102 104 105 106 107 109 110 111 113 114 115 116 118 119
 121 122 124 125 127 130 131 133 134 135 136 137 138 139 140 141 142 143
 144 146 147 149]
test: [ 11  13  18  22  23  24  29  30  31  37  42  43  47  55  58  60  63  64
  75  76  77  83  84  95  99 101 103 108 112 117 120 123 126 128 129 132
 145 148]
-----------
0.8188445754863461
train: [  0   3   4   5   8  10  11  12  13  14  15  18  20  21  22  23  24  25
  26  27  28  29  30  31  33  34  35  36  37  40  41  42  43  45  46  47
  48  52  54  55  56  57  58  60  62  63  64  65  66  68  70  72  74  75
  76  77  79  82  83  84  85  86  87  88  89  90  91  93  94  95  96  97
  98  99 100 101 102 103 104 105 106 107 108 111 112 113 114 115 117 118
 119 120 121 123 125 126 127 128 129 131 132 133 134 135 136 138 139 141
 142 144 145 147 148]
test: [  1   2   6   7   9  16  17  19  32  38  39  44  49  50  51  53  59  61
  67  69  71  73  78  80  81  92 109 110 116 122 124 130 137 140 143 146
 149]
-----------
0.8455847259522423
train: [  1   2   4   5   6   7   9  10  11  12  13  14  15  16  17  18  19  22
  23  24  25  29  30  31  32  34  36  37  38  39  41  42  43  44  46  47
  49  50  51  52  53  55  56  57  58  59  60  61  63  64  66  67  68  69
  71  73  74  75  76  77  78  79  80  81  83  84  90  92  93  95  97  98
  99 100 101 102 103 104 105 106 108 109 110 111 112 113 115 116 117 118
 119 120 122 123 124 125 126 128 129 130 132 135 136 137 138 140 142 143
 145 146 147 148 149]
test: [  0   3   8  20  21  26  27  28  33  35  40  45  48  54  62  65  70  72
  82  85  86  87  88  89  91  94  96 107 114 121 127 131 133 134 139 141
 144]
-----------
0.8232271542140287

# Kurzschreibweise

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

import numpy as np

scores = cross_val_score(LinearRegression(), X, Y, cv = KFold(n_splits = 10))

print(scores)
print(np.mean(scores))

[0.65017794 0.64157437 0.7682274  0.75577885 0.81121291 0.87869648
 0.82420155 0.82443676 0.89919227 0.92067196]
0.7974170485910209

# Zusatz: Repeated K-Fold Cross-Validation

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

import numpy as np

scores = cross_val_score(LinearRegression(), X, Y, cv = RepeatedKFold(n_repeats = 1000))

print(scores)
print(np.mean(scores))